# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Build directories
build/
dist/
*.egg-info
*.egg


# IDE/editor settings
.vscode/
.idea/

# Test cache
.pytest_cache/
.coverage


